<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add your custom styles here */
        body {
            padding-top: 56px; /* Adjust the height of your navbar */
        }
    </style>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">E-Buy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
       
      </ul>
      <form class="form-inline my-2 my-lg-0" action="search_product" method="GET">
        <input class="form-control mr-sm-2" name="product" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
       <li class="nav-item">
        <a class="nav-link" href="user_profile">Profile</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="index">Home</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="logout_user">Logout</a>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           More Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contact Us</a>
          <a class="dropdown-item" href="sell_product">Sell Products</a>
        </div>
      </li>
      </ul>
    </div>
</nav>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <!-- <h5 class="card-title">Select To Order </h5> -->
                    {% if status == 1 %}
                    <div class="alert alert-info" role="alert">
                        Select Items To Order&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                    </div>
                    {% endif %}
                    {% if status == 0 %}
                    <div class="alert alert-warning" role="alert">
                        Nothing In Cart...
                      </div>                      
                    {% endif %}
                    <form method="post" action="buyitems">
                    {% if status == 1 %}
                    <ul class="list-group">
                        {% for item in cartitems %}
                        <li class="list-group-item">
                            <label>
                                <div class="row">
                                    <input type="checkbox" name="options" value="{{ item.pid }}">  &nbsp;                               
                                    <div class="card" style="width: 18rem;">
                                            <img src="https://www.reliancedigital.in/medias/OnePlus-Nord-CE2-Lite-5G-CLP-Banner-27-04-2023-Mobile.jpg?context=bWFzdGVyfGltYWdlc3w3MDUzMXxpbWFnZS9qcGVnfGltYWdlcy9oZTcvaDI0LzEwMDYzMDU0ODMxNjQ2LmpwZ3w1Mzk5Y2RmYjQzNGEwZWFlM2Y3Yzc0NTc2OGI2M2JhNDM2ODZlOTc4MjI1ZDg4YWZiOGM0MzczZmVlYzYxODhk" class="card-img-top" alt="...">
                                            <div class="card-body">
                                            <p class="card-text">{{ item.name }}</p>
                                            <p class="card-text">
                                               ₹{{ item.cost }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                       
                    
                    
                    <button class="btn btn-primary">Buy Now</a>
                    {% endif %}
                </form>
                    <!-- <div class="row" style="margin-top: 10px; margin-bottom: 10px; margin-left: 1%;">
                        <form method="post" action="buy">
                            <button class="btn btn-primary">Buy Now</a>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
