<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <!-- Bootstrap CSS Link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <style>
        .product {
            margin-bottom: 20px;
        }

        .product img {
            max-width: 80px;
            max-height: 80px;
            margin-right: 10px;
        }
    </style>
         <script type="text/javascript">
            history.pushState(null, null, document.URL);
            window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
            });
        </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">E-Buy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
       
           <li class="nav-item">
            <a class="nav-link" href="index">Home</a>
           </li>
          </ul>
        </div>
    </nav>
<div class="container mt-5">
    <h2 style="color: green; margin-top: 5%;">Order Confirmed</h2>

    {% for order in orders %}
    <div class="product">
        <div class="row">
            <div class="col-md-2">
                <img src="https://www.reliancedigital.in/medias/OnePlus-Nord-CE2-Lite-5G-CLP-Banner-27-04-2023-Mobile.jpg?context=bWFzdGVyfGltYWdlc3w3MDUzMXxpbWFnZS9qcGVnfGltYWdlcy9oZTcvaDI0LzEwMDYzMDU0ODMxNjQ2LmpwZ3w1Mzk5Y2RmYjQzNGEwZWFlM2Y3Yzc0NTc2OGI2M2JhNDM2ODZlOTc4MjI1ZDg4YWZiOGM0MzczZmVlYzYxODhk" alt="Product 1">
            </div>
            <div class="col-md-10">
                <h4>{{ order.name }}</h4>
                <p>Price: ₹{{ order.cost }}</p>
            </div>
        </div>
    </div>
    {% endfor %}


   

    <hr>

    <div class="row">
        <div class="col-md-6 offset-md-6">
            <h4>Total: ₹{{ totalCost }}</h4>
        </div>
    </div>

</div>

<!-- Bootstrap JS and Popper.js (if needed) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
