<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add your custom styles here */
        body {
            padding-top: 56px; /* Adjust the height of your navbar */
        }
    </style>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">E-Buy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
   
       <li class="nav-item">
        <a class="nav-link" href="navindex">Home</a>
       </li>
      </ul>
    </div>
</nav>

<!-- Profile Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://placehold.it/300" class="card-img-top" alt="Profile Image">
                <div class="card-body">
                    <form method="get" action="checkout/{{ obj.pid }}">
                        <button type="submit" class="btn btn-primary" >Checkout</button>
                    </form>
        
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: lightskyblue"><del style="color: black;">₹1000</del>&nbsp;₹{{ obj.cost }}</h5>
                          
                       <div class="container text-center">
                        <h5 class="card-title">{{ obj.name | upper }}</h5>
                        <p class="card-text">{{ obj.details }}</p>
                        
    
                      
                      </div>
                       
                    
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
