{{ forms.media }}
<!DOCTYPE html>
<html>
<head>
  <title>Signup Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .invalid-feedback {
            color: red;
      }
    .container {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    .container h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Signup</h2>
  <form method="POST" action="signup">
    {% csrf_token %}

    {% if status == 1 %}
    <p>Please Enter OTP sent to your mail</p>
    {% endif %}
    <div class="form-group">
      <label for="email">Email</label>
      {{ form.mobileNumber }}
      {% if error == 1 %}
      <p style="color: red;">Please provide valid Email</p>
      {% endif %}
      <!-- <input type="email" class="form-control" id="email" maxlength=100 placeholder="Enter email/Mobile number"> -->
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      {{ form.username }}
      <!-- <input type="text" class="form-control" id="username" maxlength=100 placeholder="Enter username"> -->
    </div>
    <div class="form-group">
      {% if status == 1 %}
      <label for="username">OTP</label>
      {{ form.otp }}
      {% endif %}
      <!-- <input type="text" class="form-control" id="username" maxlength=100 placeholder="Please Enter OTP">
      --></div> 
  
    <div class="form-group">
      <label for="password">Password:</label>
      {{ form.password }}
      <!-- <input type="password" class="form-control" id="password" maxlength=16 placeholder="Enter password">
      --></div> 
    <div class="form-group">
      <label for="confirm-password">Confirm Password:</label>
      {{ form.confirmPassword }}
      <!-- <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password"> -->
    </div>
    {% if status != 1 %}
        <div class="form-group">
          {{ form.captcha }}
        </div>
        {% for error in form.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% for error in form.captcha.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
  </form>
  <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

<!-- Bootstrap JS  -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>

</body>
</html>
