<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recommended Products</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 50px;
    }
    .product-card {
      border: 1px solid #dee2e6;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
    }
    .product-image {
      max-height: 200px;
      object-fit: cover;
      width: 100%;
    }
    .product-details {
      padding: 15px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2 class="mb-4">Search results</h2>
  {% for obj in objects %}
  <div class="row">
    <div class="col-md-4">
      <div class="product-card">
        <img src="https://via.placeholder.com/300" alt="Product 1" class="product-image">
        <div class="product-details">
          <h5>{{ obj.name }}</h5>
          <p>{{ obj.details }}</p>
          <button class="btn btn-primary" style="background-color: green; border-color: green;"><a href="{{ obj.pid }}" style="color: white; text-decoration: none;">Check product</a></button>
        </div>
      </div>
    </div>
</div>
    {% endfor %}


  
 

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>